@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

.sidebar .nav-link .nav-icon {
  font-size: 2rem !important;
  margin-right: 1.5rem !important;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: #20a8d8;
}

.sidebar .nav-link.active{
  background-color: #ff7c7c;
}

.sidebar .nav-link.active .nav-icon{
  color: #46eda8;
}

.app-footer{
  margin-top: 100px;
}

// =============================Error Message================================

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

// =============================Form Control==================================

.form-control{
  border-radius: 30px;
}

body{
  font-family: Nunito;
}
// ========================= Dropdown Button ==============================

.dropbtn {
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-radius: 9px;
  overflow: hidden;
  display: none;
  position: absolute;
  right: 10px;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1;}
.dropdown:hover .dropdown-content {display: block;}
